fastapi==0.111.0
uvicorn[standard]==0.30.0
pydantic==2.7.4
SQLAlchemy==2.0.31
psycopg2-binary==2.9.9
celery==5.4.0
redis==5.0.7
python-dotenv==1.0.1
python-json-logger==2.0.7
qiskit==1.2.0
qiskit-aer==0.14.2
qiskit-qasm3-import
